---
// src/pages/[lang]/index.astro

import Navbar from '../../components/Nadbar.astro'; 
import BaseLayout from "../../layouts/BaseLayout.astro";
import { languages, translations } from '../../i18n';

import "../../styles/carousel.css";

import CustomCursor from "../../components/CustomCursor.astro";

// Generación de rutas DINÁMICA
export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

// Lógica de Traducción
const { lang } = Astro.params;
const currentLang = (lang && lang in translations) ? lang : 'es';
const t = translations[currentLang as keyof typeof translations];

// Título de la página (Pestaña del navegador)
const pageTitle = `${t.hero.title} | ${languages[currentLang as keyof typeof languages]}`;
---

<BaseLayout pageTitle={pageTitle} lang={currentLang}>
    
    <Navbar currentLang={currentLang} />
    <CustomCursor />

    <main>
        
    </main>

</BaseLayout>